{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-3"><h2 class="text-info">{{ name }}</h2></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h3 class="text-info">Message</h3>
    </div>
  </div>
  {% for message in messages %}
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <dl class="well">
        <dt>
          <h4 class='text-success'><small class="text-muted">from&emsp;</small>{{ message.author.name }}</h4>
        </dt>
        <dd>{{ message.message }}</dd>
      </dl>
    </div>
  </div>
  {% endfor %}
  <hr>
  <form action="" method="post">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h3 class="text-info">Send Message</h3>
      </div>
    </div>
    <div class="row">
          <div class="col-md-5 col-md-offset-1">
            相手:
            {% csrf_token %}
            {% bootstrap_field send_form.create_for layout='horizontal' show_label=False %}
          </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        メッセージ:
        {% csrf_token %}
        {% bootstrap_field send_form.message layout='horizontal' show_label=False %}
      </div>
    </div>
    <div class="row" style="margin: 5px;">
      <div class="col-md-1 col-md-offset-1">
        <input type="submit" class="btn btn-success" value="Send">
      </div>
    </div>
  </form>
</div>
{% endblock %}
