{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}

<div class="container-fluid jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h1 class="text-center">Drop Shot</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h3 class="text-right">深井椋太</h3>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <p>おはようございます。大学院修士一年の深井と申します。</p>
        <p>ここ数年小説を投稿していたのですが、日本語を書くのに飽きました。
           かといって<a href="https://www.ets.org/jp/toefl">英語を書くのは面倒くさい</a>し、第三言語なんて勉強してこともないので、機械語で書くこととしました。</p>
        <p>使用した言語は<a href="https://www.python.org">Python3.5</a>とHTML5です。CSSは<a href="http://getbootstrap.com">Bootstrap氏</a>に任せております。ご了承下さい。</p>
        <p>ついでにプログラミングは独学なので、至らないところもあるかと存じますが、何か気づいた点などがございましたら気兼ねなくご指摘いただけると幸いです。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <h2>自己紹介</h2>
        <p>自己紹介といっても、名前はもう表明してあるので、とくに改めて紹介することはないかと。</p>
        <p>強いて言うなら趣味がたくさんあります。というのも趣味が増やすのが趣味みたいなところがあるので仕方ないですね。</p>
        <p>すでに何が趣味で、何が暇つぶしなのかわからなくなっていますが、せっかくなので列挙してみます。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <h4><dl>
          <dt>読書</dt>
          <dd>SFが好きです。特に<a href="https://www.amazon.co.jp/攻殻機動隊-1-KCデラックス-士郎-正宗/dp/406313248X">サイバーパンク</a>とハードSF。好きな作家は<a href="https://www.amazon.co.jp/Self-Reference-ENGINE-ハヤカワ文庫JA-円城-塔/dp/415030985X/ref=sr_1_1?ie=UTF8&qid=1485416524&sr=8-1&keywords=self+reference+engine">円城塔</a></dd>
          <dt>格ゲー</dt>
          <dd>ウル４:コーディーとヴァイパー、アルカプ:マグニ,アイアン,ストレンジ、BB:レイチェル、ペルソナ:直人、GG:テスタ、他。設置キャラが好きです。</dd>
          <dt>音楽</dt>
          <dd>サンホラ、北欧メタル</dd>
          <dt>TCG</dt>
          <dd>最近ほそぼそとギャザやってます。白が好き。シャドバ:コントロールビショップ、ハースストーン:コントロールプリ</dd>
          <dt>パチスロ</dt>
          <dd>最近あんま行ってない。HANABI一択。現状プラスマイナス０</dd>
          <dt>TRPG</dt>
          <dd>一緒に出来るヒト探してます。経験:CoC,ウタカゼ</dd>
          <dt>旅行</dt>
          <dd>いつでも行きたい。電車は嫌い。アメリカに行きたい。</dd>
          <dt>食べること</dt>
          <dd>孤独のグルメごっこ</dd>
          <dt>将棋</dt>
          <dd>居飛車党、対振りは相手が熊んなければ急戦、熊ったらいび穴。相居飛車は矢倉にならないように角換わりか、横歩に誘導してます。</dd>
          <dt>プログラミング</dt>
          <dd>一番使えるのはpython。一応javascriptも読める。HTMLは嗜み。</dd>
          <dt>小説を書く</dt>
          <dd>あんま書いてない。今年のDropShotは夏目漱石とリレー小説を企画していたが断念。こんな感じになった。</dd>
          <dt>万年筆のインク</dt>
          <dd>きれいですよね。</dd>
        </dl></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <p>軽く思いついただけでこんな感じです。ハマるととことんハマって半年くらいで飽きる周期を繰り返してます。格ゲーあたりはそこら辺の人には負けないと思います。</p>
        <p>趣味の話になったらなんでもついていける自信はあるので、なにか面白い趣味をもってるひとは教えてください。芸術系以外は興味津々です。</p>
      </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'message:top2' %}">2</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'message:top2' %}">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>


{% endblock %}
