{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block body %}

<div class="container-fluid jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h1 class="text-center">Drop Shot</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h4>つづき..</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
    <font size="4">
      <br>
      <p>dropshotといえばなんかみんなに一言メッセージみたいなのやってるひと多いですよね。ってことで<a href="{% url 'message:dropshot' %}"></a>実装しました。</p>
      <p>あれって色んな人がやってるんですが、誰が誰にどんなメッセージを送ってるのかわかりにくいので、わかりやすくしようと思いました。</p>
      <p>上のメンバーってところを押すと飛べます。各位自分の名前を押してもらえれば自分へのメーッセージが見れますし、誰かにメッセージを送ることもできます。</p>
      <p>さらに皆さんの名前が予め登録されていますね。これ、テニス部のホームページから引っ張ってきていますので、ホームページが滞りなく更新されれば、
        常にメンバーが最新の状態に保たれます。まあ新１年生が入るころには、このサイトは潰していると思いますが。</p>
      <p>さて、ここで一つ先輩として苦言を呈したいと思います。まずこれを見て下さい。</p>
      <p><img src="{% static 'img/img1.jpg' %}" alt="Figure 1" width="100%" height="100%"></p>
      <p><a href="http://ustt-2011.com/buinnshoukai.html">テニス部ホームページの部員紹介</a>のソースですね。</p>
      <p>いくらもっちーのことを愛していても、一人のスタイルだけいじりすぎやしませんか？これのせいでもっちー以下の名前の取得に手こずりました。
        そしてこの長いスタイル宣言の結果がこれです。</p>
      <p><img src="{% static 'img/img2.jpg' %}" alt="Figure 2"></p>
      <p>やるならもっと派手にやりませんか？まあとりあえずホームページ係の方、コードはきれいにしておくことをおすすめしておきます。</p>
      <p>文章の方は以上です。他のところは練習がてら作ったもので、webページもテスト用なので実用性はないです。使ってもいいですがこちらの都合でそのうち勝手に消します。</p>
      <p>とは言っても皆さんにメッセージを書いたので見たいヒトは自分の名前を押すか、メッセージ一覧からどうぞ</p>
      <p>面白いので自爆ボタンも設置しました。押すと確率５％で発動して、全メッセージが消去されます。これ、押したくなりませんか？僕なら押します。</p>
    </font>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{% url 'message:top' %}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'message:top' %}">1</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'message:top2' %}">2</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'message:top2' %}">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

{% endblock %}
